.leaderboard {
  background-color: black;
  position: fixed;
  top: 2%;
  right: 1%;
  opacity: 60%;
  padding: 10px;
  border-radius: 10px;
}

.leaderboard-title {
  color: white;
}

/* Colors are set dynamically via inline styles based on player skins */
.username-entry {
  /* color set by inline style */
}

.score-entry {
  /* color set by inline style */
}
