.leaderboard {
  background-color: black;
  position: fixed;
  top: 2%;
  right: 1%;
  opacity: 60%;
  padding: 10px;
}

.leaderboard-title {
  color: aqua;
}

.username-entry {
  color: white;
}

.score-entry {
  color: yellow;
}
