.leaderboard {
  background-color: black;
  position: fixed;
  top: 2%;
  right: 2%;
  opacity: 60%;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.leaderboard-title {
  color: white;
}

.leaderboard table {
  width: 100%;
}

.rank-entry {
  width: 20px;
  text-align: right;
  padding-right: 12px;
}

.username-entry {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score-entry {
  text-align: right;
  width: 1%;
  white-space: nowrap;
}
