.codeDisplay {
  background-color: black;
  position: fixed;
  top: 2%;
  left: 2%;
  opacity: 60%;
  padding: 8px 16px;
  border-radius: 20px;
  z-index: 999999;
}

.code-tagline {
  color: white;
  margin-bottom: 0;
}

.codeText {
  color: yellow;
  font-size: 1.2rem;
  font-weight: bold;
}
